.appContainer {
  display: grid;
  grid-template-columns: minmax(auto, 300px) repeat(2, 1fr);

  & .sideBarContainer {
    grid-column: 1;
  }

  & .chatContainer {
    grid-column: 2 / 4;
    height: 100vh;
  }

  @media screen and (max-width: 900px) {
    & .chatContainer {
      grid-column: 1 / 4;
      margin-top: 60px;
      height: calc(100vh - 60px);
    }
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  padding: 40px;
}

.loaderContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .text {
    display: block;
    margin-top: 40px;
    color: var(--color-blue);
    font-weight: bold;
    font-size: 25px;

    @media screen and (max-width: 600px) {
      font-size: 5vw;
    }
  }
}
