:root {
  --color-background-light: #162126;
  --color-background: #061115;
  --color-background-alt: #000a0e;

  --color-text: #cdd6da;

  --color-text-dark: #000a0e;

  --color-border: #2e393d;

  --color-blue-light: #79aaeb;
  --color-blue: #6791c9;

  --color-red: #df5b61;

  --color-green: #78b892;

  --color-gray: #7A8D96;

  // Toastify
  --toastify-color-dark: var(--color-background);
  --toastify-color-success: var(--color-blue);
  --toastify-color-error: var(--color-red);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, p {
  margin: 0;
}

input {
  outline: 0;
}

button {
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
}

.spinner {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid 5px var(--color-blue);
  border-top-color: transparent;
  animation: 1s linear infinite rotate;
}

.custom-submit-button {
  display: block;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--color-blue);
  color: var(--color-text-dark);
  font-weight: bold;
  font-size: 14px;
  transition: .3s;

  &:hover {
    background: var(--color-blue-light);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Toastify__toast {
  border: solid 1px transparent;

  &.Toastify__toast--success {
    border-color: var(--color-blue);
  }
  &.Toastify__toast--error {
    border-color: var(--color-red);
  }
}
