.sideBar {
  background: var(--color-background-alt);
  height: 100vh;
  width: 300px;

  & .subtitle {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
  }

  & .friends {
    margin-top: 10px;

    & .friend {
      cursor: pointer;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px var(--color-background);
      background: transparent;
      transition: .3s;

      &:hover {
        background: var(--color-background);
        border-color: var(--color-border);
      }

      & .username {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }
}
