.sideBar {
  background: var(--color-background-alt);
  height: 100vh;
  width: 300px;

  & .subtitle {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
  }

  & .friends {
    margin-top: 10px;

    & .friend {
      cursor: pointer;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px var(--color-background);
      background: transparent;
      transition: .3s;

      &:hover {
        background: var(--color-background);
        border-color: var(--color-border);
      }

      & .username {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }

  & .userInfo {
    position: absolute;
    width: 300px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background-light);
    padding: 10px 20px;

    & .settingsContainer .avatarSettings {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .avatarInput {
        display: none;
      }

      & .avatarLabel {
        display: block;
        position: relative;
        cursor: pointer;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;

        &:hover:after { opacity: 1; }

        &:after {
          content: "Click to change";
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, .5);
          opacity: 0;
          transition: .3s;
        }

        & .previewAvatar {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      & .submitButton {
        margin-top: 20px;
      }
    }

    & .profile {
      display: flex;
      align-items: center;

      & .details {
        margin-left: 10px;

        & .username {
          display: block;
          font-weight: bold;
          color: var(--color-blue);
        }

        & .status {
          font-size: 12px;
          font-weight: bold;
          color: var(--color-green);
        }
      }
    }

    & .settingsButton {
      background: transparent;
      height: 20px;
      padding: 0;
      border: none;
      color: var(--color-text);
      font-size: 20px;
    }
  }
}
